<nav>
  <div class="wrap nav-inner">
    <a href="{{ '/' | relative_url }}" class="brand"><span class="dot">SS</span> Shamus Sim</a>
    <div class="nav-links">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/publications/' | relative_url }}">Publications</a>
      <a href="{{ '/experience/' | relative_url }}">Experience</a>
      <a href="{{ '/talks/' | relative_url }}">Talks</a>
      <a href="mailto:{{ site.author.email }}" class="nav-cta">Get in touch</a>
    </div>
  </div>
</nav>
